<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<!--<listeners>
		<listener class-name="listeners.ListenersDemo"></listener>
	</listeners>
	<test name="all-tests">
		<packages>
			<package name="testng_course"></package>
		</packages>
	</test>-->
	<test name="4achievers_testing_learning">


		<classes>
			<class name="testng_course.ScreenshotTest"/>
			<class name="testng_course.SecondTest"/>	
		</classes>


	</test>
</suite>
